<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photoshare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoShare">

        <!-- MAIN ACTIVITY (1): HOME UNJOINED -->
        <activity android:name=".ActivityHomeUnjoined"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MAIN ACTIVITY (2): HOME JOINED -->
        <activity android:name=".ActivityHomeJoined"
            android:screenOrientation="portrait">

        </activity>

        <!-- SETTINGS HOME -->
        <activity android:name=".ActivitySettingsHome"
            android:screenOrientation="portrait">

        </activity>

        <!-- PROFILE SETTINGS -->
        <activity android:name=".ActivitySettingsProfile"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivitySettingsHome">

        </activity>

        <!-- NOTIFICATION SETTINGS -->
        <activity android:name=".ActivitySettingsNotifications"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivitySettingsHome">

        </activity>

        <!-- PREFERENCES SETTINGS -->
        <activity android:name=".ActivitySettingsPreferences"
            android:screenOrientation="portrait"
            android:parentActivityName=".ActivitySettingsHome">

        </activity>

    </application>

</manifest>